<!DOCTYPE html>
<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2024, 12:14</time>
            <h2><a href="">First post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nam excepturi facilis velit consectetur! Sequi, in ea corrupti natus quibusdam laboriosam maxime animi? Praesentium explicabo voluptates libero iure, hic recusandae!</p>
        </article>

        <article>
            <time>published: 14.06.2024, 12:14</time>
            <h2><a href="">Second post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestias sapiente amet, placeat, ducimus nostrum harum unde officia enim omnis rem pariatur soluta voluptas esse sed, corporis dicta quis! Quasi!</p>
        </article>
    </body>
</html>
